<?xml version="1.0" encoding="utf-8"?>
<!-- This file should be kept in sync across https://www.github.com/dotnet/wpf and dotnet-wpf-int repos. -->
<configuration>
  <packageSources>
    <clear />
    <add key="myget-fxlab_" value="https://dotnet.myget.org/F/dotnet-corefxlab/api/v3/index.json" />
    <add key="arcade_" value="https://dotnetfeed.blob.core.windows.net/dotnet-tools-internal/index.json" />
    <add key="dotnet-core_" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-coreclr_" value="https://dotnetfeed.blob.core.windows.net/dotnet-coreclr/index.json" />
    <add key="myget-core_" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="nuget.org_" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-wd_" value="https://dotnetfeed.blob.core.windows.net/dotnet-windowsdesktop/index.json" />
    <add key="aspnet-core_" value="https://dotnetfeed.blob.core.windows.net/aspnet-aspnetcore/index.json" />
	<add key="dotnet5_" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json" />
         <add key="dotnet5-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5-transport/nuget/v3/index.json" />
    <add key="dotnet6" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json" />
    <add key="dotnet6-transport" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6-transport/nuget/v3/index.json" />
    <add key="testingtest" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/5.0.100-rtm.20518.2/nuget/v3/index.json" />
  </packageSources>
</configuration>
